<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>
<p>
  <strong>Words:</strong>
  <%= @house.words %>
</p>
<p>
  <strong>Sigil:</strong>
  <img src="<%= @house.sigil_url %>"/>
</p>
<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<%= link_to 'Back', houses_path %>
